<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wethersporks - Welcome Page</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <a href="Index.html">
            <img src="images/WethersporksLogoWhite.png" alt="WethersporksLogo" class="logo">
        </a>
        <h1>
            <a href="Index.html" class="weathersporks__title">Weathersporks</a>
        </h1>
        <div class="opentimes">Open 10am-10pm</div>

    </header>
    <nav>
        <a href="#" class="nav__button">Menu</a>
        <a href="#" class="nav__button">Find Us</a>
        <a href="#" class="nav__button">Reservations</a>

    </nav>
    <main>
        <div class="main__container">
            <div class="book__a__table">
                <h2>Book A Table:</h2>
                <div class="main__container__center">
                    <ul>
                        <h2>Date</h2>
                        <input type="date" name="guestDate" id="guestDate">
                        <h2>Time</h2>
                        <a href="#" class="">~~:~~ <img src="images/" alt="Clock icon"></a>
                        <h2>Guests</h2>
                        <a href="#" class="">2 <img src="images/" alt="Guests icon"></a>
                    </ul>
                    
                </div>
            </div>

        </div>
    </main>
    <footer>
        <a href="Index.html">Home</a>
        @2025
    </footer>
</body>
</html>