{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wethersporks - Welcome Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    <header>
        <a href="Index.html">
            <img src="{% static 'imgs/WethersporksLogoWhite.png' %}" alt="WethersporksLogo" class="logo">
        </a>
        <h1>
            <a href="Index.html" class="weathersporks__title">Weathersporks</a>
        </h1>
        <div class="opentimes">Open 10am-10pm</div>

    </header>
    <nav>
        <a href="#" class="nav__button">Menu</a>
        <a href="#" class="nav__button">Contact Us</a>
        <a href="#" class="nav__button">Reservations</a>

    </nav>
    <main>
        <div class="main__container">
            <div class="book__a__table">

                {% if not date_selected %}
                <h2>Pick a day:</h2>
                {% else %}
                <h2>Pick a time:</h2>
                {% endif %}

                <div class="main__container__center">
                    <form method="get">
                        {% if error %}
                        <p style="color: red;">{{error}}</p>
                        {% endif %}
                        <ul>
                            {% if not date_selected %}
                            <!-- Date Selection -->
                            <h2>Date</h2>
                            <input type="date" name="date" id="guestDate" required />

                            <h2>Email</h2>
                            <input type="email" name="email" id="email" required />

                            {% else %}
                            <!-- Time & Quantity Selection -->
                            <h2>Time <img style="height:30px; width:auto" src="{% static 'imgs/icoclock.png' %}"
                                    alt="Clock icon"></h2>

                            <select name="time" type="datetime" required>
                                {% for timeslot in timeslots %}
                                <option value="{{timeslot}}">{{timeslot}}</option>
                                {% endfor %}
                            </select>

                            <h2>Guests <img style="height:30px; width:auto;" src="{% static 'imgs/icoguest.png' %}"
                                    alt="Guests icon"></h2>
                            <input name="guestCount" type="number" required />

                            <!-- Used to retain date & email inputted  -->
                            <input name="date" value="{{date_selected}}" hidden />
                            <input name="email" value="{{email_inputted}}" hidden />
                            {% endif %}
                        </ul>
                        <br>
                        <button type="submit">Next</button>
                    </form>

                </div>
            </div>

        </div>
    </main>
    <footer>
        <img src="{% static 'imgs/WethersporksLogoWhite.png' %}" class="footer__logo" alt="WethersporksLogo">
        <div class="footer__links">
            <a href="{% url 'booking'%}">Home</a>
            <a href="#">Menu</a>
            <a href="#">Find Us</a>
            <a href="#">Reservations</a>
            Wethersporks @2025
        </div>

    </footer>
</body>

</html>